/*******************************************************/





/*******************************************************/

/**********fonts****************************************/

@font-face {
    src: url(../font/bloodlust.ttf);
    font-family: text;
}

/*General Style*/
body {
    background-color: rgb(0, 0, 0);
}
p {
    font-family: text;
}

/*Box Style*/
#scenario {
    background-image: url(../img/wallpaper.jpg);
    height: 614px;
    width: 1600px;
    margin: auto;
    position: relative;
}

#cup {
    width: 80px;
    height: 75px;
    position: absolute;
    top: 370px;
    left: 1240px;
    
}

#papelera{
    width: 150px;
    height: 210px;
    position: absolute;
    top: 390px;
    left: 740px;
}

#window {
    width: 600px;
    height: 280px;
    top: 120px;
    left: 700px;
    position: relative;
}

#springtrap {
    position: absolute;
    top: 0px;
    left: 500px;
    visibility: hidden;
    
}

#freddy {
    position: absolute;
    top: 0px;
    left: 200px;
    visibility: hidden;
    
}

#chica {
    position: absolute;
    top: 0px;
    left: 200px;
    visibility: hidden;
    
}

#nose {
    position: absolute;
    top: 200px;
    height: 30px;
    width: 30px;
    left: 150px;
    
}

#guitar {
    position: absolute;
    top: 330px;
    height: 120px;
    width: 95px;
    left: 590px;
    
}

#freddysbody {
    position: absolute;
    top: 290px;
    height: 100px;
    width: 115px;
    left: 110px;
    
}

/*Phone guy dialogues*/
.text{
    position: absolute;
    top: 200px;
    height: 100px;
    width: 1000px;
    left: 200px;
    visibility: hidden;
    display: flex;
    justify-content: center;
}

@keyframes start {
    0% { color: red; font-size: 2em; visibility: visible; }
    100% { color: red; font-size: 2.5em; visibility: hidden; }
}

/*Dialogue Order*/
#textphoneguy {
    animation-name: start;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

#textphoneguy2 {
    animation-name: start;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 5s; 
}

#textphoneguy3 {
    animation-name: start;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 11s; 
}

#textphoneguy4 {
    animation-name: start;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 18s; 
}

#textphoneguy5 {
    animation-name: start;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 24s; 
}

#textphoneguy6 {
    animation-name: start;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 30s;
}

#textphoneguy7 {
    animation-name: start;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 36s; 
}

#textphoneguy8 {
    animation-name: start;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 44s; 
}
#textphoneguy9 {
    animation-name: start;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 50s; 
}